build/

vcpkg_installed/

vcpkg/buildtrees/
vcpkg/packages/
vcpkg/downloads/

# Ignore local VS Code settings and workspace state
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json


assets/textures/models/